.video-player {
    width: 100%;
    height: 100vh;
  }
  
  .video-react .video-react-fullscreen-control {
    display: none;
  }
  
  .video-react .video-react-big-play-button {
    display: none;
  }
  
  .video-react .video-react-bezel-animation {
    display: none;
  }
  
  .video-react .video-react-bezel-animation-alt {
    display: none;
  }
  
  .video-react-has-started .video-react-control-bar {
    font-family: 'Gotham Narrow';
  }
  
  .video-react-duration.video-react-time-control.video-react-control {
    display: none;
  }
  
  .video-react .video-react-time-divider {
    display: none;
  }
  
  .video-react .video-react-slider:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .video-react .video-react-control:focus:before, .video-react .video-react-control:hover:before, .video-react .video-react-control:focus {
    text-shadow: none;
  }
  
  .video-react .video-react-control-bar {
    background-color: #00000000 !important;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    transition: visibility 0.1s, opacity 0.1s;
  }
  
  .video-react-control-bar.video-react-control-bar-auto-hide {
    height: 80px !important;
  }
  
  .video-react-progress-control.video-react-control {
    margin-right: 128px;
    margin-left: 22px;
    padding-top: 23px;
  }
  
  .video-react .video-react-control {
    width: 2.7em;
    margin-top: -13px;
  }
  
  .video-react .video-react-time-control {
    padding-right: 0.5em;
    padding-left: 0.5em;
    position: absolute;
    right: 65px;
    top: 36px;
  }
  
  .video-react .video-react-play-control {
    margin-right: -6px;
    font-size: 3.5em;
  }
  
  .video-react .video-react-mute-control, .video-react .video-react-volume-menu-button {
    font-size: 3.5em;
  }
  
  .video-react .video-react-volume-bar.video-react-slider-vertical {
    width: 0.2em;
    right: 0.15em;
  }
  
  .video-react .video-react-load-progress div {
    background: rgba(142, 142, 142, 0);
  }
  
  .video-react .video-react-load-progress {
    font-size: 2em;
  }
  
  .video-react .video-react-play-progress {
    background-color: #ffffff61;
  }
  
  .video-react .video-react-menu-button-popup .video-react-menu .video-react-menu-content {
    background-color: rgba(43, 51, 63, 0);
    margin-bottom: -1.5em;
  }
  
  .video-react .video-react-menu-button-popup.video-react-volume-menu-button-vertical .video-react-menu {
    left: 0.1em;
    height: 8em;
    margin-bottom: 23px;
  }
  
  .video-react .video-react-slider {
    background-color: rgb(121, 131, 135);
    height: 0.6em;
  }
  
  .video-react-volume-level {
    background-color: #ffffff61;
  }
  
  .video-react-vol-0 {
    display: none;
  }
  
  .video-react-vol-1 {
    display: none;
  }
  
  .video-react-vol-2 {
    display: none;
  }
  
  .video-react .video-react-volume-level {
    background-color: #ffffff61;
  }
  
  .video-react .video-react-progress-control:hover .video-react-time-tooltip, .video-react .video-react-progress-control:hover .video-react-mouse-display:after, .video-react .video-react-progress-control:hover .video-react-play-progress:after {
    visibility: hidden;
  }
  
  .video-react .video-react-play-progress:before {
    font-size: 1.7em;
    top: -0.4em;
  }
  
  .video-react-current-time-display {
    font-size: 2.5em;
  }
  
  .video-react-play-progress.video-react-slider-bar {
    font-size: 2em;
  }
  
  .video-react .video-react-play-progress:hover:before {
    font-size: 2em;
    top: -0.43em;
  }
  
  .video-react .video-react-slider-vertical .video-react-volume-level:hover:before {
    font-size: 1.1em;
  }
  
  .video-react .video-react-slider-vertical .video-react-volume-level:before {
    left: -0.42em;
    font-size: 1em;
  }
  
  .video-react .video-react-slider-vertical .video-react-volume-level {
    width: 0.2em;
  }
  
  .video-react .video-react-progress-control:hover .video-react-progress-holder {
    font-size: 1em;
  } 
  
  
  div:hover:before {
    font-size: 1.3em;
  }
  
  .vjs-big-play-button {
    display: none !important;
  }
  
  .vjs-fullscreen-control {
    display: none !important;
  }
  
  .vjs-control-bar {
    height: 83px !important;
    background-color: #00000000 !important;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  }
  
  .video-js .vjs-play-control .vjs-icon-placeholder {
    font-size: 4em;
  }
  
  .video-js .vjs-volume-panel {
    font-size: 4em;
  }
  
  .video-js .vjs-progress-control {
    font-size: 2em;
  }