#image-slider p {
  margin-bottom: 12px;
}

#image-slider h1 {
  margin: auto;
  text-align: center;
}



#image-slider .slick-slider div {
  cursor: defualt !important;
}

#image-slider .slick-next:before, .slick-prev:before {
  color: #000 !important;
}

#image-slider .slick-next:before, [dir=rtl] .slick-prev:before {
  content: ' \25b6' !important;
  font-size: 25px !important;
}

#image-slider .slick-prev:before {
  content: ' \25c0' !important;
  font-size: 25px !important;
}

#image-slider .slick-next, .slick-prev {
  opacity: 0.8 !important;
}

#image-slider .slick-dots {
  opacity: 0.8 !important;
}

@media (max-width: 659px) {
  #image-slider  .slick-dots {
    display: flex !important;
  }
}

@media (max-width: 450px) {
 #image-slider .slick-dots {
    width: 96% !important;
  }
}

@media (max-width: 659px) {
  #image-slider .slick-dots li {
    margin: auto !important;
  }
}

@media (max-width: 450px) {
 #image-slider .slick-dots li {
    padding: 0px !important;
    width: 15px !important;
  }
}


@media (max-width: 450px) {
 #image-slider  .slick-dots li button {
    padding: 0px !important;
  }
}



.image-slider-container {
  max-width: 90%;
  margin: auto;
}

@media (max-width: 515px) {
  #image-slider .container {
    max-width: 80%;
  }
}

#image-slider ::before {
  font-size: 35px !important;
}

@media (max-width: 659px) {
  #image-slider ::before {
    font-size: 25px !important;
  }
}

#image-slider .text-grid {
  text-align: center;
  margin: 5% auto auto;
  display: grid;
  margin: 5% auto auto auto;
}

@media (max-width: 1200px) {
  #image-slider .text-grid {
    grid-column-gap: 5%;
  }
}

@media (max-width: 1023px) {
  #image-slider .text-grid {
    margin: 10% auto auto auto;
    display: block;
    background: whitesmoke;
    padding: 5rem;
    text-align: left;
  }
}


#image-slider .image-title {
  font-weight: 900;
  margin-bottom: 10px;
  float: left;
  font-size: 5rem;
}

@media (max-width: 1200px) {
  #image-slider .image-title {
    font-size: 4rem;
  }
}

@media (max-width: 1023px) {
  #image-slider .image-title {
    margin-right: 5px;
  }
}

@media (max-width: 550px) {
  #image-slider .image-title {
    float: none;
  }
}


#image-slider .date {
  margin-bottom: 10px;
  float: left;
  margin-left: 5px;
  font-weight: normal;
  font-size: 5rem;
}

@media (max-width: 1200px) {
  #image-slider .date {
    font-size: 4rem;
  }
}

@media (max-width: 1023px) {
  #image-slider .date {
    float: none;
  }
}

@media (max-width: 550px) {
  #image-slider .date {
    margin-left: 0px;
  }
}

#image-slider .col1 {
  grid-row: 1;
  grid-column: 1;
  margin: auto;
}

#image-slider .caption1 {
  margin-bottom: 15px;
  grid-row: 2;
  grid-column: 1;
} 

#image-slider .credit1 {
  margin-bottom: 10px;
  grid-row: 4;
  grid-column: 1;
  font-size: 3.5rem;
}


#image-slider .copyright1 {
  grid-row: 5;
  grid-column: 1;
  margin-bottom: 8px;
  font-size: 3.5rem;
}


#image-slider .link1 {
  grid-row: 6;
  grid-column: 1;
  font-size: 3.5rem;
}



#image-slider .col2 {
  font-weight: 900;
  bottom: 0px;
  grid-row: 1;
  grid-column: 2;
  float: right;
  margin: auto;
}

@media (max-width: 1200px) {
  #image-slider .col2 {
    float: none;
  }
}

#image-slider .caption2 {
  margin-bottom: 15px;
  grid-row: 2;
  grid-column: 2;
}
 

#image-slider .credit2 {
  grid-row: 4;
  grid-column: 2;
  font-size: 3.5rem;
}

#image-slider .copyright2 {
  grid-row: 5;
  grid-column: 2;
  margin-bottom: 8px;
  font-size: 3.5rem;
}


#image-slider .link2 {
  grid-row: 6;
  grid-column: 2;
  font-size: 3.5rem;
}
